.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  .banner {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .gallery-boxes {
    display: flex;
    justify-content: space-around;

    a {
      display: block;
      padding: 10px;
      background-color: #f2f2f2;
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      border-radius: 4px;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .click-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-size: 18px;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      textarea {
        resize: vertical;
      }
    }

    .submit-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 12px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .click-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .features {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .feature {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin: 0 10px;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
      }
    }
  }
  .click-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .gallery-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .gallery-item {
      width: calc(33.33% - 20px);
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      p {
        font-size: 16px;
      }
    }
  }
  .click-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-container {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: blue;
  transition: background-color 0.3s, transform 0.2s;
}

.menu a:hover {
  background-color: orange;
  transform: scale(1.05);
}
